.neigh{
    align-items: center;
    color: gold;
    background-color: black;
    text-align: center;
  }

  .card-body.text-info {
    
    align-items: center;
    /* padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-top: 100px; */
    text-align: center;
    text-indent: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    font-stretch: expanded;

  }
  p{
    color: gold;
  }