{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block content %}

<body class="book" textalign:="center">
  <br>
  <div class="d-flex justify-content-center">
    <div class="card-groups">
      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Sports</div>
        <div class="card-body text-info">
          <h5 class="card-title">Football lovers</h5>
          <p class="card-text">Football is best game for gamers and talented</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/sports">Read Pitches</a></button>
        </div>
      </div>
    

      <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Network</div>
        <div class="card-body text-info">
          <h5 class="card-title">Network-speeds</h5>
          <p class="card-text">Nothing iritates like slow network</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/network">Read Pitches</a></button>
        </div>
      </div>




     <div class="card border-info mb-3" style="max-width: 35rem;">
        <div class="card-header">Movies</div>
        <div class="card-body text-info">
          <h5 class="card-title">How long can you spend on a movie</h5>
          <p class="card-text">Cartoon movies for adults is weird</p>
          <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/movies">Read Pitches</a></button>
        </div>
      </div>

    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 35rem;">
    <div class="card-header">Politics</div>
    <div class="card-body text-info">
      <h5 class="card-title">Welcome to number game</h5>
      <p class="card-text">They say its a dirty game but determines how we all live</p>
      <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
      <button type="button" class="btn btn-outline-primary"><a href="/categories/politics">Read Pitches</a></button>
    </div>
  </div>

</div>
</div>
<div class="card border-info mb-3" style="max-width: 35rem;">
  <div class="card-header">sales</div>
  <div class="card-body text-info">
    <h5 class="card-title">Sales Pitches</h5>
    <p class="card-text">Want to make super sales, make your brand sell</p>
    <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
    <button type="button" class="btn btn-outline-primary"><a href="/categories/sales">Read Pitches</a></button>
  </div>
</div>

</div>
</div>

  {% endblock%}
</body>